p {
  text-align: center;
}
body {
  font-size: 20px;
}
meter {

}
.animalPen  {
  display: inline-flex;
}
.buttonHolder {
  display: inline-flex;
}
.chicken {
  background-color: #adfadfaf;
  border: 3px dashed black;
  border-radius: 15px;
  height: 170px;
  margin: 10px;
  padding: 3px;
  text-align: right;
  width: 170px;
}
.hidden {
  display: none;
}
.button {
  background-color: black;
  border: 3px solid #adfadfaf;
  border-radius: 100%;
  color: white;
  font-size: 20px;
  margin: 10px;
  padding: 3px;
  text-align: center;
  user-select: none;
  width: 100px;
}
.selected {
  background-color: yellow;
  border: 5px solid #adfadfaf;
}
.thisThing {
  font-size: 50px;
}
.dead {
  background-color: lightGrey;
  border-color: grey;
  color: darkgrey;
  pointer-events: none;
}
.dying {
  animation: shake .5s infinite;
}
@keyframes shake {
  0% {transform: rotateZ(0deg);}
  3% {transform: rotateZ(5deg);}
  6% {transform: rotateZ(0deg);}
  9% {transform: rotateZ(-5deg);}
  12% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(0deg);}
}
#feed {
  background-color: green;
}
#sell {
  background-color: #FF0000;
  border-color: black;
}
