body {
  font-size: 20px;
}
.animalPen  {
  display: inline-flex;
}
.buttonHolder {
  display: inline-flex;
}
.chicken {
  background-color: #adfadfaf;
  border: 3px dashed black;
  border-radius: 15px;
  height: 150px;
  margin: 10px;
  text-align: center;
  width: 150px;
}
.hidden {
  display: none;
}
.button {
  background-color: black;
  border: 3px solid #adfadfaf;
  border-radius: 100%;
  color: white;
  font-size: 20px;
  margin: 10px;
  padding: 3px;
  text-align: center;
  width: 100px;
}
.selected {
  background-color: yellow;
  border: 5px solid #adfadfaf;
}
.thisThing {
  font-size: 50px;
}
#feed {
  background-color: green;
}
#sell {
  background-color: #FF0000;
  border-color: black;
}
